@font-face {
    font-family: 'Swisot2';
    src: url('/assets/fonts/swisot2_bigfontsite.com.ttf');
}
:root {
    --bg-color: #1c263c;
    --text-main: #bdd9df;
    --font-main:'Special Elite', cursive;
    --font-secondary: 'Swisot2';
}

* {
    padding:0;
    margin:0;
}

body {
    font-family: var(--font-main);
    color: var(--font-main);
}

section {
    background-color: var(--bg-color);
}