@font-face {
    font-family: 'Swisot2';
    src: url('./assets/fonts/swisot2_bigfontsite.com.ttf');
}
:root {
    --bg-color: #1c263c;
    --text-main: #bdd9df;
    --font-main:'Special Elite', cursive;
    --font-secondary: 'Swisot2';
}

* {
    padding:0;
    margin:0;
}

body {
    font-family: var(--font-main);
    color: var(--text-main);
}

section {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 15rem;
}

h1 {
    padding: 3rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    padding-top:2rem;
}

/* Home START */

.home {
    padding: 0;
    position: relative;
}
.home img{
    width: 99vw;
}

/* Home END */

/* Cyberspeeder START */

.description {
    font-family: var(--font-secondary);
    font-weight: 900;
    padding-bottom: 2rem;
}

/* Cyberspeeder END */

/* Specifications START */

.specifications-list {
    font-family: var(--font-secondary);
    font-weight: 900;
}

/* Specifications END */

/* Banner START */

.banner-area {
    background-color: var(--bg-color);
}

.banner-area img {
    width: 99vw;
}

/* Banner END */


/* Contact START */

.contact {
    padding-bottom: 10rem;
}

.contact-list {    
    font-family: var(--font-secondary);
    font-weight: 900;
}

/* Contact END */

/* Menu START */

nav {
    position: fixed;
}

nav img {
    width: 75%;
}

nav {
    padding-left: 0.5rem;
    font-size: 1.3rem;
    font-family: var(--font-secondary);
    font-weight: 900;
}

nav li span{
    cursor: pointer;
}

.menu-button {
    position:relative;
}

.menu-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transition: transform 0.4s ease;
    transform-origin: bottom right;
    background-color: var(--text-main);
}

.menu-button:hover::after,
.menu-button:active::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}


/* Menu END */

.mobile-menu {
    position: relative;
    display: none;

}

.desktop-menu {
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.mobile {
    width:90vw;
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index:15;
}

.mobile img {
    width: 20%;
}

button.hamburger {
    all: unset;
    cursor:pointer;
}
button i {
    font-size: 4rem;
    color: var(--text-main);
}

/* Show Button */

.show {
    display: block;
    position: fixed;
    z-index: 10;
    height:100vh;
    transition: height 0.4s ease;
}


/* Responsive Styles */
@media screen and (min-width:800px) {
    .mobile {
        display:none;
    }
}


@media only screen and (max-width:800px) {
    section {
        padding: 2rem 1rem;
    }

    h1 {
        padding: 3rem 0rem;
    }

    .specifications-list li {
        padding-top: 0.5rem;
    }
    .cyberspeeder img {
        width: 99vw;
    }

    /* menu */

    .show img {
        display: none;
    }

    nav {
        background-color:var(--bg-color);
        width: 100vw;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;
        font-size: 2rem;
        height:100vh;
        transition: height 0.4s ease;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 2rem;
        padding-top: 2rem;
    } 
}